body{background-color: #F0FFDF;margin: 0;text-decoration: none;
 }

#header{background-color: #A8DF8E; height:150px; width:1600px; margin-top: 0%;}
h1{padding-top: 35px; font-style: italic;}
button:hover{background-color: brown;transition-duration: 2s;}
#random{height:100px; border-radius: 100px; padding-top: 10px; width:100px; background-color: blue; transition-duration: 5s;
animation-iteration-count: infinite;
animation-name: colorAnimate;
}
#pop{background-color:#FFD8DF;
width:500px; height:50px;
margin-top: 100px;
animation-name:slide;
animation-delay:0s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-duration:4s ;
position:absolute;
}
@keyframes slide{     from{ left:0%; }
    to{ left:-20%; }
}

#slide{
    background-color: #FFAAB8; height:50px;
width:700px;
margin-top: 155px;
animation-name:slide2;
animation-delay:1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-duration:5s ;
position:absolute;
}
@keyframes slide2{     from{ left:0%; }
    to{ left:-50%; }}
#pop, #slide{border-radius: 10px;}

#slide3{ background-color: #FFAAB8; height:50px;
width:720px;
margin-top: 211px;
animation-name:slide3;
animation-delay:2s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-duration:6s ;
position:absolute;
border-radius: 10px;}
@keyframes slide3{     from{ left:0%; }
    to{ left:-60%; }}
#htmlbutton{ margin-top: 270px;margin-left: 520px; background-color:#A8DF8E;height: 70px;}
#cssbutton{background-color:#A8DF8E; border-radius: 5px;height: 50px;}
button{border-radius: 5px; }
#robo{height:500px;margin-left: 200px;margin-top: 13px; position: absolute; }
#htmlbutton:hover{  transform: scale(2); }
#cssbutton:hover{  transform: scale(2); }
.header:hover{transform:scale(2);}
#home{height:50px; width:100px;}
#Help{height:200px;
width:50px;}
.header{
  text-decoration: none;   /* removes underline */
  outline: none;           /* removes blue focus line */
}

table{width:1000px;border:2px;}
#sidebar{position: fixed;
    height:1500px;
     width:80px; 
     background-color: greenyellow;
      top: 0;
     left: 0;
     margin: 0;}
     a{
  text-decoration: none;
  color: inherit;
}
